<div class="categories">
    <div>
        <button data-value="0" class="all-categories-btn active-all-categories">All categories</button>
    </div>
    <ul class="categories-list">
        <!-- <li class="category-item"><button class="category-btn active-category">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li>
        <li class="category-item"><button class="category-btn">Beef</button></li> -->
    </ul>
    <select style = "display: none;" name="" id="" class="category-select">
        <option value = "0">All categories</option>
    </select>
</div>
