
    <div class="favorite-categories">
    <ul class="favorite-categories-list">
        <li class="favorite-category-item"><button data-value="0" class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <!-- <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">Beef</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">Breakfast</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li>
        <li class="favorite-category-item"><button class="favorite-categories-btn active-favorite-categories">All categories</button></li> -->
    </ul>
    <select style = "display: none;" name="" id="" class="category-select">
        <option value = "0">All categories</option>
    </select>
</div>