<div class="favorites-card">
    <div class="container">
        <picture>
            <source class="favorites-card-img" media="(min-width:1280px)" srcset="./img/favorites/card.jpg">
            <source class="favorites-card-img" media="(min-width:768px)" srcset="./img/favorites/card-tabl.jpg">
            <img class="favorites-card-img" src="./img/favorites/card.jpg" alt="card" style="width:auto;">
        </picture>
    </div>
</div>

<div class="no-one">
    <div class="container">
        <div class="no-one-wrap">
            <svg class="no-one-icon-mob" width="68px" height="58px">
                <use href="./img/favorites/favorites-icon.svg#favorites-icon-mob"></use>
            </svg>
            <svg class="no-one-icon" width="97px" height="83px">
                <use href="./img/favorites/favorites-icon.svg#favorites-icon"></use>
            </svg>
            <p class="no-one-text">It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that you like to your favorites for easier access in the future.</p>
        </div>
    </div>
</div>