<div class="filtering-recipes">
  <form class="search-form">
    <label class="l-select">
      <span class="input-name">Search</span>
      <div class="thumb-input">
        <input
          type="text"
          name="search-recipe"
          autocomplete="off"
          placeholder="Enter Text"
          id="search-recipe"
        />
        <svg class="svg-search">
          <use href="./img/icons.svg#icon-search"></use>
        </svg>
        
      </div>
    </label>
    <label class="l-select sel-time">
      <span class="input-name">Time</span>
      <select name="filtr-time" class="filtr filtr-time">
        <option data-placeholder="true"></option>
        <option value="5" id="5">5 min</option>
        <option value="10" id="10">10 min</option>
        <option value="15" id="15">15 min</option>
        <option value="20" id="20">20 min</option>
        <option value="25" id="25">25 min</option>
        <option value="30" id="30">30 min</option>
        <option value="35" id="35">35 min</option>
        <option value="40" id="40">40 min</option>
        <option value="45" id="45">45 min</option>
        <option value="50" id="50">50 min</option>
        <option value="55" id="55">55 min</option>
        <option value="60" id="60">60 min</option>
        <option value="65" id="65">65 min</option>
        <option value="70" id="70">70 min</option>
        <option value="75" id="75">75 min</option>
        <option value="80" id="80">80 min</option>
        <option value="85" id="85">85 min</option>
        <option value="90" id="90">90 min</option>
        <option value="95" id="95">95 min</option>
        <option value="100" id="100">100 min</option>
        <option value="105" id="105">105 min</option>
        <option value="110" id="110">110 min</option>
        <option value="115" id="115">115 min</option>
        <option value="120" id="120">120 min</option>
      </select>
    </label>
    <label class="l-select">
      <span class="input-name">Area</span>
      <select name="filtr-area" class="filtr filtr-area">
        <option data-placeholder="true"></option>
        <!-- <option value="" id=""></option> -->
      </select>
    </label>
    <label class="l-select">
      <span class="input-name">Ingredients</span>
      <select name="filtr-ingredients" class="filtr filtr-ingredients">
        <option data-placeholder="true"></option>
        <!-- <option value="" id=""></option> -->
      </select>
    </label>
    <button type="button" class="btn-reset-filtr" data-reset>
      <svg class="svg-reset">
        <use href="./img/icons.svg#icon-reset"></use></svg>Reset the filter
    </button>
    <span class=" loader-f "></span>
  </form>
    <div class="cards-recipe"></div>

    
  
</div>
