<footer class="footer">
    <div class="container footer-container">
      <div class="footer-logo-divv">
        <a class="logo-link link" href="./index.html"
          >tasty<span class="footer-logo link">treats.</span></a
        >
        <p class="footer-text">
            You can become a cool chef! 
            <span class="footer-second-text">Just try</span>
        </p>
      </div>
      <div class="footer-icon-container">
        <p class="footer-text-icon">We in social media</p>
        <ul class="footer-soc-list list">
          <li class="footer-soc-item">
            <a class="footer-soc-link link" href="">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link link" href="">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-twitter-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link link" href="">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link link" href="">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedin-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="authors"> 
        <div class="subscribe">
          <button type="submit" class="subscribe-btn">
            <span class="subscribe-text-icon"
              >Subscribe
              <svg class="airplane" width="24" height="24">
                <use href="./img/icons.svg#icon-Frame-3-1"></use>
              </svg>
            </span>
          </button>
      </div>
      <div class="name-team">
        <a class="team-name"  href="./index.html"> © Code<span class="team-second-name">Crafters</span></a>
      </div>
    </div>
     
    </div>
  </footer>