<header class="header">
  <div class="container header-wrapper">
    <div class="header-wrap">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-link-home">Home</a>
          </li>
          <li class="nav-item">
            <a href="./favorites.html" class="nav-link-favorites">Favorites</a>
          </li>
        </ul>

        <a href="./index.html" class="link logo-link">
          <img
            src="./img/header/logo.svg"
            class="logo-img"
            alt="logo-img tasty treats"
            width="83"
            height="18"
            id="logo-img"
          />

          <!-- <img
            src="./img/header/logo-dark-theme.svg"
            class="logo-img"
            alt="logo-img tasty treats"
            width="83"
            height="18"
            id="logo-img-dark"
          /> -->
        </a>
      </nav>

      <div class="button-wrap">
        <!-- shopping cart  -->
        <button type="button" class="shopping-cart">
          <svg class="shopping-cart-icon" width="24" height="24">
            <use href="img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>

        <div class="switch-wrap btn-switch-desktop">
          <input type="checkbox" name="switch" id="switch" />
          <label for="switch" class="switch-theme"></label>
        </div>

        <!-- Burger -->
        <!-- button burger-menu -->
        <button
          type="button"
          class="btn-open-menu js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="btn-open-menu-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-burger-menu"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- MOB-MENU -->
    <div class="header-backdrop"></div>

    <div class="mob-menu js-mob-menu" id="mobile-menu">
      <button type="button" class="button-close js-close-menu">
        <svg class="close-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-button-close"></use>
        </svg>
      </button>

      <!-- mobile menu navigation -->
      <nav class="mob-page-nav">
        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a class="mob-nav-link-home nav-link-home" href="./index.html"
              >Home</a
            >
          </li>

          <li class="mob-nav-item">
            <a
              class="mob-nav-link-favorites nav-link-favorites"
              href="./favorites.html"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>

      <!-- switch -->

      <div class="switch-wrap btn-switch-mob">
        <input type="checkbox" name="switch" id="switch2" />
        <label for="switch2" class="switch-theme"></label>
      </div>
    </div>
    <!-- scroll to top -->

    <button
      id="scroll-to-top-btn"
      class="scroll-to-top-btn"
      aria-label="scroll to up"
    ></button>
  </div>
</header>
