<section class="hero">
  <div class="hero-container container">
    <div class="hero-info">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-span">Tasty Treats' </span>Customizable
        Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-order-btn js-order-now" type="button">
        Order now
      </button>
    </div>
    <div class="hero-slider">
      <div class="swiper swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide my-slide"></div>
          <div class="swiper-slide my-slide"></div>
          <div class="swiper-slide my-slide"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
