<div class="backdrop-ratio is-hidden">
    <div class="modal-ratio">
        <button type="button" class="ratio-close-btn">
            <svg class="close-icon">
                <use href="./img/icons.svg#icon-button-close"></use>
            </svg>
        </button>
        <span class="ratio-count"></span>
        <p class="modal-ratio-title">Rating</p>
        <div class="stars-ratio"></div>
        <form class="ratio-form" name="modal-form" autocomplete="on">
            <div class="form-container">
                <div class="modal-field">
                    <div class="input-wrap">
                        <input class="modal-input" id="user-email" name="user-email" type="text"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="Enter E-mail" required />
                    </div>
                </div>
            </div>
            <button class="btn-ratio-send" type="submit">Send</button>
    </div>
    </form>
</div>

</div>