<div class="container">
    <ul class="page-pagination-list">
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-beginning act bc">
          <svg class="svg-switch-duo">
            <use href="./img/icons.svg#icon-beginning"></use>
          </svg>
        </button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-previous act bc">
          <svg class="svg-switch">
            <use href="./img/icons.svg#icon-previous"></use>
          </svg>
        </button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-first act">1</button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-second">2</button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-third ">3</button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-show-others">...</button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-next act">
          <svg class="svg-switch">
            <use href="./img/icons.svg#icon-next"></use>
          </svg>
        </button>
      </li>
      <li class="page-pagination-item">
        <button type="button" class="btn-list btn-end act">
          <svg class="svg-switch-duo">
            <use href="./img/icons.svg#icon-end"></use>
          </svg>
        </button>
      </li>
    </ul>
</div>