/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '~node_modules/modern-normalize/modern-normalize.css';
@import './reset.css';
@import './header.css';
@import './hero.css';
@import './categories.css';
@import './favorite-categories.css';
@import './favorite-recipes.css';
@import './light-theme.css';
@import './modal-recipe.css';
@import './order-now.css';
@import './favorites-card.css';
@import './filter.css';
@import './dark-theme.css';
@import './footer.css';
@import './modal-ratio.css';


:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --default-color: #ffffff;
  --main-text-color: #9bb537;
  --background-color: #f8f8f8;
  --secondary-background-color: #161616;
  --secondary-text-color: #050505;
  --alfa-text-color: rgba(5, 5, 5, 0.8);
  --secondary-alfa-text-color: rgba(5, 5, 5, 0.5);
  --light-theme: #f8f8f8;
  --dark-theme: #1c1c1c;
  --border-color: #9bb5374c;
  --card-text-color: #f8f8f899;
  --origin-text-color: #f8f8f833;
  --hero-gradient: linear-gradient(#050505, #050505);
  /* dark-theme */
  --bodyback: #f8f8f8;
  --label1: #cecdcd;
  --ballcolor: #f8f8f8;
  --ballcolor2: #f3f3f3;
  --border-color-filter: rgba(5, 5, 5, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color, #f8f8f8);
  transition: all 0.3s ease;
}

.container {
  max-width: 372px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 764px;
    padding: 0 30px;

  }

  .cont-filtr {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: calc(1080px + 60px);
  }
}


/* Тема сайту змінюється з налаштування системи */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-background-color, #050505);
  }
  :root {
    --main-text-color: #2323233;
  }
} */

/* html.dark body {
  background-color: var(--secondary-background-color, #050505);
} */
/* 
html.dark :root {
  --main-text-color: red;
  --background-color: #050505;
} */