/* dark-theme */
.dark-theme {
  background-color: var(--dark-theme);
  transition: all 0.3s ease;
}
/* Header */

.dark-theme .nav-link-favorites {
  color: var(--default-color);
}
.dark-theme .shopping-cart-icon,
.btn-open-menu-icon {
  stroke: var(--default-color);
}

.dark-theme .mob-menu {
  background-color: #050505;
}

/* Hero */

.dark-theme .hero-title,
.hero-text,
.hero-order-btn,
.hero-swipe-dot,
.hero-swiper {
  color: var(--default-color);
}

.dark-theme .hero-swipe-dot:first-child {
  color: var(--main-text-color);
}
.dark-theme .no-one-text {
  color: var(--default-color);
}
