.favorite-categories {
  padding-left: 20px;
  padding-right: 0;
  margin-bottom: 24px;
}

.favorite-categories-list {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
}

.favorite-category-item {
}

.favorite-categories-btn {
  font-family: inherit;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #0505054d;
  padding: 14px 18px 14px 18px;
  border-radius: 15px;
  background-color: var(--background-color);
  border: 1px solid #05050533;
  white-space: nowrap;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}

.favorite-categories-list {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favorite-categories-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.active-favorite-categories,
.favorite-categories-btn:hover,
.favorite-categories-btn:focus {
  background-color: var(--main-text-color);
  color: var(--background-color);
  border: 1px solid var(--main-text-color);
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}

@media screen and (min-width: 768px) {
  .favorite-categories {
    padding-left: 32px;
    margin-bottom: 32px;
  }
  .favorite-categories-list {
    gap: 15px;
  }
  .favorite-categories-btn {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media screen and (min-width: 1280px) {
  .favorite-categories {
    padding-left: 100px;
  }
}
