:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --default-color: #ffffff;
  --main-text-color: #9bb537;
  --background-color: #f8f8f8;
  --secondary-background-color: #161616;
  --secondary-text-color: #050505;
  --alfa-text-color: rgba(5, 5, 5, 0.8);
  --secondary-alfa-text-color: rgba(5, 5, 5, 0.5);
}

.page-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-pagination-list button {
  margin: 0;
  padding: 0;
}

.svg-switch {
  width: 24px;
  height: 24px;
}

.l-select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  color: var(--secondary-alfa-text-color);
}

.l-select:not(:last-child) {
  margin-bottom: 14px;
}

.search-form {
  position: relative;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#search-recipe {
  border: 1px solid var(--border-color-filter);
  border-radius: 15px;
  font: inherit;
  color: var(--secondary-text-color);
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  outline-color: var(--border-color-filter);
  padding: 14px 0 14px 48px;
  width: 335px;
}

.search-form input::-webkit-input-placeholder {
  color: var(--secondary-alfa-text-color);
}

.search-form input::-moz-placeholder {
  color: var(--secondary-alfa-text-color);
}

.search-form input:-ms-input-placeholder {
  color: var(--secondary-alfa-text-color);
}

.search-form input::-ms-input-placeholder {
  color: var(--secondary-alfa-text-color);
}

.search-form input::placeholder {
  color: var(--secondary-alfa-text-color);
}

.ss-placeholder {
  color: var(--secondary-alfa-text-color);
}

.input-name {
  margin-bottom: 8px;
}

.filtr {
  font-size: 14px;
  border-radius: 15px;
  padding: 14px 18px;
  background-color: var(--default-color);
}

.filtr-time {
  width: 160px;
}

.filtr-area {
  width: 160px;
}

.sel-time {
  margin-right: 10px;
}

.filtr-ingredients {
  width: 188px;
  margin-right: auto;
  margin-bottom: 14px;
}

.ss-main:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ss-main:focus,
.ss-main.ss-open-below,
.ss-content .ss-list .ss-option,
.ss-content.ss-open-below,
.ss-content.ss-open-above,
.ss-main.ss-open-above {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: #fff;
  color: var(--secondary-text-color);
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.28; /* 128.571% */
}

.ss-main .ss-values {
  color: var(--secondary-text-color);
  line-height: 1.28; /* 128.571% */
}


.ss-content .ss-list .ss-option {
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.ss-content {
  max-height: 124px;
}
.ss-content ::-webkit-scrollbar {
  width: 6px;
  height: auto;
}
.ss-content ::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(5, 5, 5, 0.1);
}
.ss-content ::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 5, 5, 0.5);
}

.svg-search {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: var(--secondary-alfa-text-color);
}

.thumb-input {
  position: relative;
}

.btn-reset-filtr {
  position: absolute;
  bottom: 0%;
  right: 0%;
  color: var(--secondary-alfa-text-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg-reset {
  stroke: var(--main-text-color);
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.cards-recipe {
  margin-bottom: 40px;
}

.btn-list {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.3);
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22; /* 122.222% */
}

.svg-switch,
.svg-switch-duo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.svg-switch-duo {
  width: 26px;
}

.btn-list.bc {
  background-color: var(--secondary-text-color);
  fill: rgba(248, 248, 248, 0.5);
  border: none;
}

.btn-list.act {
  background-color: var(--main-text-color);
  fill: var(--secondary-text-color);
  border: none;
}

.page-pagination-item:nth-child(1) {
  margin-right: 4px;
}

.page-pagination-item:nth-child(2) {
  margin-right: 14px;
}

.page-pagination-item:nth-child(3) {
  margin-right: 8px;
}

.page-pagination-item:nth-child(4) {
  margin-right: 8px;
}

.page-pagination-item:nth-child(6) {
  margin-right: 14px;
}

.page-pagination-item:nth-child(7) {
  margin-right: 4px;
}

.photo-recipe-card {
  position: relative;
  width: 335px;
  height: 335px;
  background-color: #404822;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.photo-recipe-card:not(:last-child) {
  margin-bottom: 24px;
}

.title-recipe-card {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  text-transform: uppercase;
  margin-bottom: 8px;
}

.descr-recipe-card {
  color: var(--background-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
  margin-bottom: 16px;
}

.rating-value {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  margin-right: 4px;
}

.rat-icon {
  width: 18px;
  height: 18px;
  fill: rgba(248, 248, 248, 0.5);
}

.rat-icon.act {
  fill: #eea10c;
}

.all-recipe {
  padding-bottom: 80px;
}

.rating-recipe-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thum-raying-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.see-recipe-card {
  color: var(--background-color);
  font-size: 12px;
  line-height: normal;
  padding: 8px 14px;
  background-color: var(--main-text-color);
  border-radius: 8px;
}

.fav-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  outline: none;
  background-color: rgba(248, 248, 248, 0);
}

.fav-icon {
  width: 20px;
  height: 20px;
  fill: rgba(248, 248, 248, 0.5);
}

.fav-btn:hover .fav-icon,
.fav-btn:focus .fav-icon {
  fill: var(--background-color);
}

.see-recipe-card:hover,
.see-recipe-card:focus {
  background-color: #839730;
}

.hidden-itm {
  display: none;
}

.hidden-btn {
  display: none;
}
