.header-wrapper {
  /* position: relative; */
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-home,
.nav-link-favorites {
  font-size: 12px;
}
.nav-link-home {
  color: var(--main-text-color, #9bb537);
}

.nav-link-favorites {
  font-weight: 400;
  color: var(--secondary-text-color, #050505);
}

body.active .nav-link-favorites {
  color: var(--main-text-color, #9bb537);
}
body.active .nav-link-home {
  color: var(--secondary-text-color, #050505);
}

.logo-link {
  padding: 28px 0;
}

.button-wrap {
  display: flex;
  align-items: center;
}
.shopping-cart {
  margin-right: 14px;
}

.btn-open-menu-icon,
.shopping-cart-icon {
  fill: none;
  stroke: var(--secondary-text-color, #050505);

  transition: stroke 250ms var(--cubic-bezier);
}

.btn-open-menu:is(:focus, :hover) > .btn-open-menu-icon,
.shopping-cart:is(:focus, :hover) > .shopping-cart-icon {
  stroke: var(--main-text-color, #9bb537);
}

/* -modal mob menu- */
.mob-menu {
  --size-heigth: calc(100vh / 3.5);
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  padding: var(--size-heigth) 74px 0;

  background-color: var(--main-text-color, #9bb537);
  min-width: 200px;
  width: 35vw;
  height: 100%;

  transform: translateX(110%);
  transition: transform 350ms ease-in-out;
}

.mob-menu.is-open {
  transform: translateX(0);
}

.header-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  display: none;
  z-index: 100;
}

.header-backdrop.active {
  display: block;
}

/* -btn close- */
.button-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-icon {
  stroke: var(--default-color, #ffffff);

  transition: scale 250ms var(--cubic-bezier);
}

.button-close:is(:focus, :hover) > .close-icon {
  scale: 1.3;
}

.mob-page-nav {
  text-align: center;
}

.mob-nav-link-home {
  margin-bottom: 16px;
}

.mob-nav-link-favorites,
.mob-nav-link-home {
  display: block;

  transition: scale 250ms var(--cubic-bezier);
}

body.active .mob-nav-link-home,
.mob-nav-link-favorites {
  color: var(--background-color, #f8f8f8);
}

body.active .mob-nav-link-favorites,
.mob-nav-link-home {
  color: var(--secondary-text-color, #050505);
}

.mob-nav-link-favorites:is(:focus, :hover),
.mob-nav-link-home:is(:focus, :hover) {
  scale: 1.3;
}

body.dark-theme .mob-nav-link-home {
  color: var(--main-text-color, #9bb537);
}

.switch-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-switch-mob {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

/* media */

@media screen and (max-width: 767px) {
  .nav-list,
  .btn-switch-desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .btn-open-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    margin-right: 203px;
    gap: 16px;
  }

  nav-link {
    padding: 31px 0;
  }
  .logo-img {
    width: 93px;
    height: 20px;
  }
  .shopping-cart {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list {
    margin-right: 390px;
  }
  .shopping-cart {
    margin-right: 24px;
  }
}

/* SWITCH THEME */

input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.switch-theme {
  display: block;
  width: 46px;
  height: 20px;
  background-color: #cecdcd;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.6);
  transition: 0.5s;
}
.switch-theme::after {
  content: '';
  width: 18.8px;
  height: 18.8px;
  border-radius: 60px;
  background-color: var(--ballcolor);
  position: absolute;
  top: 0.5px;
  left: 0px;
  transition: 0.5s;
}
input:checked + .switch-theme:after {
  background-color: var(--ballcolor2);
  left: calc(100%);
  transform: translateX(-100%);
}

input:checked + .switch-theme {
  background: linear-gradient(#9bb537, #9bb537b0);
}
.switch-theme:active:after {
  width: 25px;
}

/* ======================================= */
/* ============== scroll to top ========== */

.scroll-to-top-btn {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f07800;
  color: #3d2d2d;
  text-align: center;
  outline: none;
  cursor: pointer;
  opacity: 0;

  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out,
    box-shadow 350ms ease-in-out;
}

.scroll-to-top-btn::before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  display: block;
  border: 4px solid #f07800;
  transform: rotate(135deg);
  border-right: 0;
  border-top: 0;
  transition: 1s ease;
}

.scroll-to-top-btn.visible {
  opacity: 1;
}
.scroll-to-top-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
